server {
	listen 80 default_server;
	server_name _;

	location / {
		uwsgi_pass localhost:5000;
		include uwsgi_params;
	}
	{%- if "pavroto-2" in groups['monitor_servers'] %}	
	location /prometheus {
		proxy_pass http://pavroto-2:9090;	
	}	
		
	location /grafana/ {
    		proxy_pass http://pavroto-2:3000/grafana;
  	}
	{%- endif %}
}


server {
	listen 8080;

	location = /stub_status {
    		stub_status;
	}	

}
