{% if vmnet %}
acl vmnet {
{% for i in vmnet %}        {{ i }}; 
{% endfor %}}; 
{% endif %}

options {
        directory "/var/lib/bind";

	{% if public_forwarders %}forwarders {
        {% for i in public_forwarders %}
	{{i}};
	{% endfor %}};
	{% endif %}
		
	allow-query { vmnet; };
	
        dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
